*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: sans-serif;
}
/* debug */




/* CSS rules */
.flexed{
    display: flex;
}
.sized{
    width: 80%;
    max-width: 1170px;
    margin: 0 auto;
}
/* gives margin-left to all childs to not detach from border*/
.r-side>*{
    margin-left: 10px;
}
/* gives margin-right to all childs to not detach from border*/
.l-side>*{
    margin-right: 10px;
}
a{
    text-decoration: none;
    color: inherit;
    padding: 5px;
}

/* header */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: darkorange;
    height: 100px;
    padding: 20px;
    color: white;
    z-index: 9;
}
header .container{
    height: 100%;
    justify-content: space-between;
    align-items: center;
}
.categories-menu{
    flex-grow: 1;
}
header #logo{
    flex-grow: 2;
    text-align: center;
}
#logo img{
    height: 50px;
}
.user-menu{
    flex-grow: 1;
    text-align: end;
}

/* main */
main .columns{
    flex-wrap: wrap;
    padding-top: calc(100px + 5%);
    padding-bottom: 5%;
}
main .col{
    min-width: 250px;
    width: calc(100% / 3);
    padding: 20px;
    flex-grow: 1;
}
    /* col img container */
    .col-img{
        position: relative;
    }
    .col img{
        width: 100%;
    }
    img.hidden{
        display: none;
    }
    .col-img:hover img.hidden{
        display: inline-block;
    }
    .col-img:hover img:not(hidden){
        display: none;
    }
    .col-img .heart{
        position: absolute;
        top: 5px;
        right: 0;
        color: black;
        background-color: white;
        padding: 5px;
        font-size: 1.5em;
    }
    .col-img .heart:hover{
        color: red;
    }
    .label-container{
        position: absolute;
        bottom: 5%;
        left: 0;
        width: 100%;
    }
    .label{
        display: inline-block;
        height: 30px;
        color: white;
        font-size: 1em;
        padding: 5px 10px;
    }
    .label.discounted{
        background-color: red;
    }
    .label.sustainable{
        background-color: green;
    }
    .label.sustainable::after{
        content:"Sostenibilità";
    }
    /* col text container */
    main .col-text{
        padding-top: 5px;
    }
    h3.brand{
        text-transform: capitalize;
        font-size: 14px;
        font-weight: 300;
    }
    h2.product-name{
        text-transform: uppercase;
        font-size: 20px;
    }
    .col-text .price{
        color: red;
    }
    .col-text .discounted{
        text-decoration: line-through;
        color: black;
    }

/* footer */
footer{
    padding: 20px 0;
    height: 100px;
    background-color: black;
    color: white;
}
footer .container{
    height: 100%;
    justify-content: space-between;
    align-items: center;
}
footer .container a{
    font-size: 14px;
}
.boolando-info h1{
    padding: 0 0 10px 5px;
    font-size: 20px;
}
.social-icons div{
    padding-bottom: 10px;
}
.social-icons a{
    margin-left: 4px;
}

